# Este arquivo .gitignore deve ser colocado na raiz do diretório do projeto Unity
#
# Receba as últimas notícias do https://github.com/github/gitignore/blob/master/Unity.gitignore
#
/[Eu... ibrary/
/[Tt] emp/
/[Oo] bj/
/[Bb] uild/
/[Bb] uilds/
/[Eu... ogs/
/[Uu] ser[Ss]ettings/

# MemóriaCapturas podem ficar excessivas em tamanho.
# Eles também poderiam conter dados extremamente sensíveis
/[Mm] emoryCaptures/

# Os dados de meta de ativos só devem ser ignorados quando o ativo correspondente também for ignorado
! /[Aa]ssets/**/*.meta

# Descompromisse esta linha se você quiser ignorar o plugin de ferramentas de armazenamento de ativos
# /[Aa]ssets/AssetStoreTools*

# Plugin Jetbrains Rider autogerado
/[Aa] ssets/Plugins/Editor/JetBrains*

# Diretório de cache do Visual Studio
.vs/

# Diretório de cache Gradle
.gradle/

# Arquivos de solução e projeto VS/MD/Consulo autogerados
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*. VC.db

# Metacários gerados pelo Unity3D
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D gerou arquivo em relatórios de acidentes
sysinfo.txt

# Constrói
*.apk
*.aab
*.unitypackage

# Arquivo gerado por crashlytics
crashlytics-build.properties

# Endereçados Embalados
/[Aa] ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/ *.bin*

# Ativos Android gerados automaticamente temporários
/[Aa] ssets/[Ss]treamingAssets/aa.meta
/[Aa] ssets/[Ss]treamingAssets/aa/*
